
		header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
				header li{
			list-style: none;
		}
		a:link, a:visited{
			text-decoration: none;
			background-color: lightsteelblue;
			border:  1px solid blue;
			color:  black;
			display:  block;
			width:  200px;
			text-align:  center;
			margin-bottom:  1px;
		}

		a:hover, a:active{
			background-color: red;
			color: white;
		}

		header li:nth-child(3){
			font-size:  24px;
		}

		section div:nth-child(odd){
			background-color: lightslategray;
		}

		section div:nth-child(4):hover{
			background-color: green;
			cursor:  pointer;			
		}
		
